{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-5 w-50 mx-auto mt-5 contouring-form rounded">
        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
        <div class="mb-3">
            {{ form_label(form.title, 'Titre :', {'label_attr': {'class': 'text-white'}}) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.content, 'Contenu :', {'label_attr': {'class': 'text-white'}}) }}
            {{ form_widget(form.content) }}
        </div>
        <button type="submit" class="btn btn-success btn-sm">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
