<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="Laurent Lassallette">
    <title>{% block title %}To Do List app{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
</head>

<body>

{% block header_img %}
    <div class="img-header-container">
        <img class="img-fluid" src="{{ asset('img/todolist-DALL-E.png') }}" alt="todo list">
    </div>
{% endblock %}

<nav class="navbar" data-bs-theme="dark">
    <div class="container d-flex justify-content-between">

        <a class="navbar-brand" href="{{ path('homepage') }}">ToDoList</a>

        {% if app.user %}
        <div class="dropstart">
            <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-list-task" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"/>
                    <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"/>
                    <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z"/>
                </svg>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('task_create') }}">Créer une nouvelle tâche</a></li>
                <li><a class="dropdown-item" href="{{ path('task_list') }}">Consulter la liste des tâches à faire</a></li>
                <li><a class="dropdown-item" href="">Consulter la liste des tâches terminées</a></li>
            </ul>
        </div>
        {% endif %}

        <div class="dropdown dropstart">
            <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="white" height="20" class="bi bi-person-circle"
                     viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('user_create') }}">Créer un utilisateur</a></li>
                {% if app.user %}
                    <li><a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a></li>
                    <li><a class="dropdown-item" href="{{ path('user_list') }}">Liste des utilisateurs</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{{ path('login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>

{% for flash_message in app.session.flashBag.get('success') %}
    <div class="alert alert-success" role="alert">
        <strong>Superbe !</strong> {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('error') %}
    <div class="alert alert-danger" role="alert">
        <strong>Oops !</strong> {{ flash_message }}
    </div>
{% endfor %}

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
