{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-5 w-50 mx-auto mt-5 contouring-form rounded">
        {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
        <div class="mb-3">
            {{ form_label(form.username, 'Nom d\'utilisateur :', {'label_attr': {'class': 'text-white'}}) }}
            {{ form_widget(form.username) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.password) }}
            {{ form_widget(form.password) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.email,'Adresse email :', {'label_attr': {'class': 'text-white'}}) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.roles, 'Role :', {'label_attr': {'class': 'text-white'}}) }}
            {{ form_widget(form.roles) }}
        </div>
        <button type="submit" class="btn btn-success btn-sm">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
